/* CURRENTLY IN NO USE
.mydiv {
    transition: opacity 0.5s ease-in-out;
  }
  
  .mydiv.deleted {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  } */
* {
  box-sizing: border-box !important;
}



#head3 {
  text-align: end;
  font-size: 40px;
  font-style: italic;
}

.header {
  background-color: blue !important;
  margin-bottom: 10px;
  height: 15vh;
  padding: 1%;
  box-sizing: border-box !important;
  align-items: center;
  /* background-image: linear-gradient(to left, blue, rgb(28, 153, 153)); */
  border-radius: 25px;
}

.mycon {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.mytd {
  /* background-color: brown; */
  margin-left: 10px;
  color: white;
}

.mydiv {
  background-color: rgb(16, 154, 154);
  /* margin-top: 10px; */
  margin-bottom: 10px;
  border-radius: 30px;
  height: 23vh;
  padding: 20px;
  transition-duration: 0.5s;
  animation: identifier_mydiv 2s;
}

.mydiv:hover {
  transform: scale(1.03);
  background-color: rgb(14, 12, 74);
  color: aliceblue;
}

@keyframes identifier_mydiv {
  from {
    margin-top: 500px;
  }

  to {
    margin-top: 0px;
  }
}

.myNav {
  color: white ;
  font-size: 20px;
}

/* .nav1:hover{
  color: aqua;
} */
.nav1::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  left: 0;
}

.nav1:hover::after {
  background-color: aqua;
  animation-name: lineanime;
  animation-duration: 2s;
}

@keyframes lineanime {
  0% {
    width: 0;
    left: 0;
    background-color: #fff;
  }

  50% {
    width: 100%;
    left: 0%;
    background-color: #fff;
  }

  100% {
    width: 0;
    left: 100%;
    background-color: #fff;
  }
}

.Add {
  height: 10vh;
  border-radius: 20px;
  color: white;
  background-color: rgb(32, 32, 56);
}

#mytxtAdd {
  font-size: 30px;
}

.work-name {
  margin-bottom: 5px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, aqua, white);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .del-col{
    text-align: end;
    align-items: end;
} */
.delcol {
  margin-left: 40px;
}

.editcol {
  margin-left: 40px;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: rgb(20, 20, 20); */
  background-color: rgb(255, 50, 50);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  transition-duration: 0.3s;
  /* background-color: rgb(255, 69, 69); */
  background-color: rgb(255, 0, 0);
  align-items: center;
  gap: 0;
}

.bin-top {
  transform-origin: bottom right;
}

.button:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}

.editBtn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123); */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.editBtn::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}

.editBtn:hover::before {
  transform: scale(1);
}

.editBtn:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editBtn svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}

.editBtn:hover svg {
  transform: rotate(-15deg) translateX(5px);
}

.editBtn::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtn:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}